@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  color: rgba(198, 201, 216, 0.75);
  font-weight: 400;
}

.gradient, #Second .second-all .s-right .s-r-bottom .b-items .b-item h3, #Second .second-all .s-right .s-r-bottom .b-items .b-item p, .first-all h1 {
  background-image: linear-gradient(145deg, #f81f01, #ee076e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.p_common, #Second .second-all .s-right .s-r-top p, .first-all .b-text p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: rgba(198, 201, 216, 0.75);
}

body {
  background-color: #101010;
}

header {
  padding: 22px 50px;
}
header .logo {
  width: 182px;
  max-height: 66px;
}
header .navbar .nav-item .nav-link {
  color: #c6c9d8;
  font-weight: 500;
  margin-left: 14px;
  transition: 0.4s;
}
header .navbar .nav-item .nav-link:hover {
  color: #f9004d;
}
header .navbar .nav-item #Home {
  color: #f9004d;
}
header .lets-talk .btn {
  padding: 10.5px 26px;
  border-width: 2px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}
header .cart {
  margin: 0 60px 0 30px;
  position: relative;
}
header .cart .shopping-cart {
  font-size: 20px;
  color: white;
}
header .cart::after {
  content: "0";
  position: absolute;
  right: -6px;
  top: -3px;
  width: 14px;
  height: 16px;
  border-radius: 50%;
  background-color: #f9004d;
  font-size: 12px;
  font-style: normal;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-all h1 {
  width: 80%;
  margin: 75px 0 105px;
  line-height: 7rem;
  font-size: 100px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
.first-all .b-text h3 {
  color: #c6c9d8;
  font-size: 24px;
  font-weight: 400;
  margin: 32px 0px 15px;
}
.first-all .b-text p {
  padding-bottom: 8rem;
}

#Second {
  background-color: #191919;
}
#Second .second-all .s-right {
  padding: 45px 25px 0 25px;
}
#Second .second-all .s-right .s-r-top {
  padding-top: 4rem;
}
#Second .second-all .s-right .s-r-top #About {
  color: #f9004d;
  letter-spacing: 1px;
  font-size: 16px;
}
#Second .second-all .s-right .s-r-top h3 {
  font-weight: 700;
  color: white;
  font-size: 40px;
  line-height: 1.4;
  margin: 10px 0 25px;
}
#Second .second-all .s-right .s-r-bottom .b-items {
  margin-top: 40px;
}
#Second .second-all .s-right .s-r-bottom .b-items .b-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 30px;
  height: 1px;
  background-color: #f9004d;
}
#Second .second-all .s-right .s-r-bottom .b-items .b-item p {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-weight: 300;
  padding-top: 30px;
}
#Second .second-all .s-right .s-r-bottom .b-items .b-item h3 {
  font-size: 60px;
  font-weight: 700;
}
#Second .second-all .s-left {
  border-radius: 8px;
}
#Second .second-all .s-left img {
  border-radius: 8px;
  transform: translateY(-4rem);
}

@media (max-width: 576px) {
  header {
    padding: 7px 15px;
  }
  header .logo {
    width: 140px;
    max-height: 50px;
  }
  header .navbar-toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  header .navbar-toggler .lets-talk {
    display: none;
  }
  header .navbar-toggler span {
    margin: 0 20px 0 0;
  }
  header .navbar-toggler .fa-solid {
    font-size: 20px;
  }
  #First {
    padding-bottom: 3rem;
  }
  #First .container {
    padding: 0 15px;
  }
  #First .first-all h1 {
    margin: 10px 0 35px;
    font-size: 40px;
    line-height: 50px;
  }
  #First .first-all .b-image {
    width: 54px;
    height: 45px;
  }
  #First .first-all .b-image img {
    height: 100%;
  }
  #First .first-all .b-text h3 {
    margin: 15px 0;
    font-size: 18px;
  }
  #First .first-all .b-text p {
    font-size: 16px;
    padding: 0 0 15px;
    font-weight: 300;
    line-height: 28px;
  }
  #Second {
    padding: 60px 1px 60px 1px;
  }
  #Second .second-all .s-left img {
    transform: translateY(0);
  }
  #Second .second-all .s-right {
    padding: 45px 0 0 0;
  }
  #Second .second-all .s-right .s-r-top {
    padding-top: 0;
  }
  #Second .second-all .s-right .s-r-top h3 {
    font-size: 30px;
  }
  #Second .second-all .s-right .s-r-top p {
    font-size: 16px;
  }
  #Second .second-all .s-right .s-r-bottom .b-items .b-item p {
    padding-top: 10px;
  }
  #Second .second-all .s-right .s-r-bottom .b-items .b-item h3 {
    font-size: 30px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  header {
    padding: 7px 15px;
  }
  header .logo {
    width: 140px;
    max-height: 50px;
  }
  header .navbar-toggler {
    padding: 0;
    font-size: 25px;
  }
  header .navbar-toggler span::after {
    top: 2px;
  }
  header .navbar-toggler .lets-talk {
    display: none;
  }
  header .navbar-toggler span {
    margin: 0 4.2rem 0 0;
  }
  #First {
    padding-bottom: 3rem;
  }
  #First .container {
    padding: 0 15px;
  }
  #First .first-all h1 {
    margin: 50px 0 15px;
    font-size: 50px;
    line-height: 70px;
  }
  #First .first-all .b-image {
    width: 84px;
    height: 61px;
  }
  #First .first-all .b-image img {
    height: 100%;
  }
  #First .first-all .b-text h3 {
    margin: 22px 0 16px;
    font-size: 18px;
  }
  #First .first-all .b-text p {
    font-size: 16px;
    padding: 0 0 15px;
    font-weight: 300;
    line-height: 28px;
  }
  #Second {
    padding: 60px 1px 60px 1px;
  }
  #Second .second-all .s-left {
    padding: 0 2px;
  }
  #Second .second-all .s-left img {
    width: 100%;
    transform: translateY(0);
  }
  #Second .second-all .s-right {
    padding: 45px 25px 0 0;
  }
  #Second .second-all .s-right .s-r-top {
    padding-top: 0;
  }
  #Second .second-all .s-right .s-r-top #About {
    margin-bottom: 0;
  }
  #Second .second-all .s-right .s-r-top h3 {
    font-size: 30px;
  }
  #Second .second-all .s-right .s-r-top p {
    font-size: 16px;
  }
  #Second .second-all .s-right .s-r-bottom .b-items {
    width: 420px;
  }
  #Second .second-all .s-right .s-r-bottom .b-items .b-item p {
    padding-top: 20px;
    width: 170px;
  }
  #Second .second-all .s-right .s-r-bottom .b-items .b-item h3 {
    font-size: 37px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header {
    padding: 10px 30px;
  }
  header .lets-talk {
    display: inline;
  }
  header .logo {
    width: 138px;
    max-height: 50px;
  }
  header .navbar-toggler {
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .navbar-toggler .lets-talk {
    padding-right: 20px;
  }
  header .navbar-toggler .fa-solid {
    font-size: 25px;
  }
  #First {
    padding-bottom: 0;
  }
  #First .container {
    padding: 0 15px;
  }
  #First .first-all h1 {
    margin: 40px 0 94px;
    font-size: 70px;
    line-height: 82px;
  }
  #First .first-all .b-text h3 {
    font-size: 22px;
  }
  #First .first-all .b-text p {
    font-size: 18px;
    padding-bottom: 70px;
  }
  #Second {
    padding: 80px 0;
  }
  #Second .second-all .s-left img {
    width: 100%;
    transform: translateY(0);
  }
  #Second .second-all .s-right {
    padding: 45px 15px;
  }
  #Second .second-all .s-right .s-r-top {
    padding: 0;
  }
  #Second .second-all .s-right .s-r-top #About {
    margin-bottom: 0;
  }
  #Second .second-all .s-right .s-r-top h3 {
    font-size: 35px;
  }
  #Second .second-all .s-right .s-r-bottom .b-items {
    padding-right: 7rem;
  }
  #Second .second-all .s-right .s-r-bottom .b-items .b-item h3 {
    font-size: 37px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header {
    padding: 30px 30px 4.5rem;
  }
  header .navbar .cart {
    margin: 0 30px 0 0;
  }
  header .navbar .nav-item a {
    margin: 0 !important;
  }
  header .logo {
    width: 142px;
    max-height: 58px;
  }
  #First .first-all h1 {
    font-size: 90px;
    line-height: 103px;
  }
  #Second {
    padding: 4rem 0 8rem;
  }
  #Second .s-left img {
    transform: translateY(4rem) !important;
  }
  #Second .s-right .s-r-bottom .b-items .b-item h3 {
    font-size: 37px !important;
  }
}/*# sourceMappingURL=style.css.map */